@media (max-width: 1024px) {
	.hero {
		background-position: left -50px bottom -30px;
		background-size: cover;
	}
	.hero__main {
		margin: 70px 0 100px;
	}
	.hero__hello span {
		font-size: 80px;
	}
	.hero__description {
		font-size: 14px;
	}
	.hero__text {
		font-size: 21px;
	}
}

@media (max-width: 830px) {
	.hero__text {
		display: none;
	}
	.hero {
		background-position: left -150px bottom -30px;
		background-size: cover;
	}
}

@media (max-width: 768px) {
	.header__container {
		justify-content: initial;
	}
	.btn {
		padding: 8px 12px;
		font-size: 14px;
	}
	.header__btn {
		margin-left: auto;
		margin-right: 30px;
	}
	.burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.burger__line {
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: var(--main);
		transition: transform .3s ease-in-out, top .3s ease-in-out ;
	}
	.burger__line:first-child {
		top: 0;
	}
	.burger__line:last-child {
		top: calc(100% - 2px);
	}
	.burger__line:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}

	.burger--active .burger__line:nth-child(2) {
		transform: scale(0);
	}
	.burger--active .burger__line:first-child {
		top: 50%;
		transform: rotate(45deg);
	}
	.burger--active .burger__line:last-child {
		top: 50%;
		transform: rotate(-45deg);
	}

	.grid {
		grid-template-columns: repeat(6, 1fr);
	}
	.hero {
		background-image: none;
	}
	.nav {
		position: absolute;
		left: 0;
		top: 0;
		width: 80%;
		height: 100vh;
		overflow-y: auto;
		background-color: var(--bg);
		transition: transform .3s ease-in-out, visibility .3s ease-in-out;
		transform: translateX(-100%);
		visibility: hidden;
	}
	.nav--active {
		transform: none;
		visibility: visible;
	}
	.nav__list {
		height: 100%;
		padding: 50px 0;
		flex-direction: column;
	}
	.hero__content {
		padding: 0;
	}
	.hero__main {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		margin: 30px 0 50px;
		text-align: center;
	}
	.hero__hello {
		align-self: center;
		max-width: 350px;
		text-align: center;
	}
	.hero__left {
		display: none;
	}
	.latest-shots__content {
		overflow: scroll;
		gap: 10px;
	}
	.latest-shots__nav {
		justify-content: center;
	}
	.latest-shots__image {
		max-width: 175px;
	}
	.hero__hello span {
		font-size: 60px;
	}
}
